@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --c1 : hsl(208, 100%, 100%);
    --c2 :hsl(50, 100%, 60%);
    --c3 : hsl(50, 100%, 40%);
    --c4 : hsl(222, 25%, 15%);
    --c4L : hsl(222, 25%, 25%);
    --c5 : hsl(222, 25%, 0%);
    --c6 : hsl(358, 100%, 22%);
    --c6L : hsl(358, 100%, 35%);
    --c6D: hsl(358, 100%, 10%);
    --c6Gray :  hsl(358, 70%, 15%);
    --c6LGray : hsl(355, 80%, 35%);
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background: linear-gradient(90deg, var(--c5), var(--c6D));
    font-family: 'Poppins';
    color: var(--c1);
} 
html {
    scroll-behavior: smooth;
}

main{
    display: flex;
    flex-direction: column;
    overflow:hidden;
}

header{
    position: sticky;
    top: 0;
    z-index: 1000;
}
.gold{
    color: var(--c2);
    font-weight: bold;
}
.dark-gold{
    color: var(--c3);
    font-weight: bold;
}
.top-right {
    display: flex;
    flex-direction: row;
    font-size: large;
    justify-content: right;
    padding : 10px;
    background-color: hsla(0, 0%, 100%, 0.05);

}

.top-right h3 {
    margin: 10px 30px;  
}
.top-right a{
    color: var(--c1);   
    text-decoration: none;  
    border-bottom: 2px solid transparent;
    transition:  all 0.3s ease; 
}
.top-right a:hover{
    color: var(--c2);   
    border-bottom: 2px solid var(--c2); 
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15% 0%;
}
.about{
    display: flex;
    flex-direction: column;
    color: var(--c1);
    max-width: min(500px , 40%);
    line-height: 1.75rem;
    font-size: 1.5rem;
}
.about h1{
    font-size: 45px;
    line-height: 3rem;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 27%;
    
}
.default-logo{ 
    border-radius: 50px;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.5);
}
.hover-logo{ 
    position: absolute;
    border-radius: 50px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.1s , scale 0.3s;
    opacity: 0;
    cursor: pointer;
}
.default-logo:hover{
    opacity: 0;

}
.hover-logo:hover{
    opacity: 1;
    scale: 1.1;

}
.links-photo{
    width: fit-content;
}
.links-belt {   
    
    /* border: 0.1px solid rgba(255, 255, 255, 0.2);    */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.links-belt img{
    transition: all 0.1s;
}
.links-belt img:hover{
    scale: 1.2;
}
.personal-photo {
    width: min(400px,30vw);
    height: min(400px,30vw);
    object-fit: cover;
    border-radius: 25px;
    border: transparent;
}
.lower-section{
    text-align: center;
    font-size: 1.5rem;
    margin: 8% 15%;
}
.projects{
    margin: auto;
    display: flex;
    flex-direction: row;  
    justify-content: center;
    border-radius: 10px;
    color: var(--c1);
    margin-bottom: 5%;
    gap: 2rem;
    
}

.projects a {
    text-decoration: none;
    color: var(--c1);
    line-height: 2rem;
    font-size: 1rem;
}

.project-card{
    text-align: left;
    min-width: 200px;
    flex-basis: 25%;
    padding: 1%;
    background-color: var(--c6Gray);
    border-radius: 15px;
    box-shadow: 0px 0px 15px 1px var(--c2);  
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
}
.card-details{
    flex: 1;

}
.card-img-container{

}
.card-technos h4 { 
    margin-bottom: 20px;
}
.card-technos ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.card-technos ul li{
    list-style: none;
}
.project-card h4 {
    text-align: center ;
}
.project-card:hover{
    background-color: var(--c6LGray);
    scale : 1.03 ; 
}


.skills{
    font-size: 28px;
    color: var(--c1);
    margin: 0% 15%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.skills h1{
    text-align: center;
    font-size: 50px;
}
.programming-lang , .frameworks , .soft-skills{
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}
.programming-lang ul,.frameworks ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;  
}
.programming-lang li,.frameworks li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}
.programming-lang p,.frameworks p{
    color: var(--c2);
    margin: 15px;
    opacity: 0;
    transition: all 0.5s ease;
}
.skills img{
    width: 80px;
    height: 80px;
    transition: all 0.3s ease;

    
}
.skills li:hover img{
    scale : 1.1;
}
.skills li:hover p{
    opacity: 1;
}
.soft-skills ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;  
}
.soft-skills ul li{
    list-style: "📌";
 }

footer{
    margin-top: 5%;
}
footer h1 , footer p {
    text-align: center;
    color: var(--c1);
}
footer h1{
    font-size: 50px;
}
footer p {
    font-size: 20px;
}
.contact{
    color:  var(--c1);
    display: flex;
    flex-direction: column;
    margin: auto;
    width: min(550px,70%);
    padding: 40px;
    background: linear-gradient(90deg,rgba(133, 133, 133, 0.35),rgba(167, 216, 249, 0.35));
    border-radius: 25px;
    margin-bottom: 5%;
}
.contact label{
    font-size: 20px;
}
.contact input , .contact textarea{
    
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    font-size: 22px;
    border: 1px solid rgb(169, 169, 169);
}
.contact input{
    height: 25px;
}
.contact textarea{
    height: 100px;
}
.contact button {
    margin: 0px 5px;
    margin-top: 15px;
    font-size: 20px ;
    border: none;
    border-radius: 5px;
    padding: 10px 0px ;
    background-color: rgb(0, 120, 34);
    cursor: pointer;
    color: var(--c1);
    transition: all 0.2s ease;
}

.contact button:hover {
    background-color: rgb(0, 169, 48);
}
.contact-bar{
    display: flex;
    flex-direction: column;
    
    z-index: 1000;
}   
.contact-icons{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    gap: 50px; 
    margin-top: 10px;
}
.contact-icons img {
    transition: all 0.2s ease ;
}
.contact-icons img:hover {
    scale: 1.2;
}

@media (max-width: 900px) {
    .top-right {
        display: none;
    }
    .skills , .lower-section{
        font-size: 1.5rem;
    }
    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about {
        max-width: 80%;
        margin-bottom: 20px;
    }
    .personal-photo {
        width: 50vw;
        height: 50vw;
    }
    .projects {
        flex-direction: column;
        align-items: center;
    }
    .project-card {
        width: 90%;
    }
    .skills img , .programming-lang li,.frameworks li{
        width: 60px; 
        height: 60px;
    }
    .card-details{
        padding: 10px;
    }
    .skills h1 , footer h1 { 
        font-size: 2rem;
    }
    footer { 
        padding: 15px;
    }
}
@media (max-width: 600px) {
    .skills img , .programming-lang li,.frameworks li{
        width: 40px; 
        height: 40px;
    }
}
